  .header {
    background-color: #666741;
  }

  .imgHeader {
    width: 125px;
  }

  .navbar-nav .nav-item {
    margin-right: 20px;
  }

  .nav-item>a {
    color: aliceblue;
  }

  .nav-item a.active {
    border-bottom: 2px solid #F8F8F8;
    color: #FFF !important;
  }

  .nav-item a:hover {
    color: rgb(235, 221, 221);
  }

  .navbar-toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

  }

  .bi-list {
    color: #F8F8F8;
    font-size: 50px;
  }

  @media(max-width: 480px) {

    .imgHeader {
      width: 80px;
    }

    .navbar-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }
  }

  @media(max-width: 768px) {

    .imgHeader {
      width: 80px;
    }

    .navbar-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }
  }

  @media(max-width: 991px) {

    .imgHeader {
      width: 80px;
    }

    .navbar-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }
  }